
form{
    display: grid;
    grid-template-columns: 20% 70%;
    input{
        margin: 0.5rem;
    }

    button{
        width: 50%;
    }

    // .datepicker{
    //     grid-column: 2/3;
    // }
}